@import url('https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.5/font/bootstrap-icons.min.css');

/* Style for active tab */
#card-tabs .nav-link.active {
    background-color: #ABCE78 !important;
    /* Green for active tab */
    color: white !important;
    /* Text color for active tab */
}

/* Style for non-active (inactive) tabs */
#card-tabs .nav-link {
    background-color: #f8f9fa;
    /* Light grey background for inactive tabs */
    color: #495057;
    /* Dark text color for inactive tabs */
    border-color: transparent;
    /* Remove border */
}

/* Hover effect for inactive tabs */
#card-tabs .nav-link:hover {
    background-color: #e2e6ea;
    /* Slightly darker grey for hover state */
}

/* Set the width for the tab labels */
.custom-tab .nav-link {
    width: 300px;
    text-align: center;
}

/* Targeting the uploader container */
.custom-uploader .dash-uploader {
    height: 30px !important;
    /* Adjust uploader height */
}

/* Reduce font size inside the uploader */
.custom-uploader .dash-uploader-text {
    font-size: 12px !important;
    /* Adjust the font size */
    line-height: 30px;
    /* Adjust line height to center text vertically */
}


/* Targeting the microphone button using its ID */
#microphone-button {
    background-color: #3498db !important; /* Blue shade */
    color: white !important;
    border: none !important;
    padding: 8px !important;
    border-radius: 50% !important; /* Makes it circular */
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s; /* Smooth transitions */
}

/* Hover & Active Effects */
#microphone-button:hover {
    background-color: #2980b9 !important; /* Darker blue on hover */
    transform: scale(1.05); /* Slightly enlarges */
}

#microphone-button:active {
    background-color: #1c6692 !important; /* Even darker blue on press */
    transform: scale(0.95); /* Slightly shrinks */
}
